{% extends 'template.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static '/products/products-style.css' %}">
<title> {{ category.title }} - sk8shop</title>
{% endblock %}


{% block content %}
<section class="banner">
    <figure><img src="{% static '/products/images/background.jpg' %}"></figure>
</section>
<div class="line"></div>
<aside>
    <a href="{% url 'products:category' cat=category.title.lower %}">{{ category.title }}</a>
    <ul>
        {% for sub in subCategories %}
        <li><a href="{% url 'products:subCategory' cat=sub.parent.title subcat=sub.title %}">{{sub.title}}</a></li>
        {% endfor %}
    </ul>
</aside>
<div class="pipe"></div>
<main>
    {% for p in products %}
    <div class="category-product">
        <figure><img src="{{ p.thumbnail.url }}" alt="image.png"></figure>
        <a
            href="{% url 'products:details' cat=p.category.parent.title subcat=p.category.title slug=p.slug %}">{{p.title}}</a>
        {% if p.sale %}
        <p><s>${{p.price}}</s> ${{p.sale}}</p>
        {% else %}
        <p>${{p.price}}</p>
        {% endif %}
    </div>
    {% endfor %}
</main>
{% endblock %}