@import "./variables.scss";
@import "./mixins.scss";
@import "./header.scss";
@import "./main.scss";
@import "./aside.scss";
@import "./footer.scss";

body {
    display: grid;
    grid-template-columns: .5fr .6fr 0.01fr 3fr .5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header"
    "banner banner banner banner banner"
    ". line line line ."
    ". aside pipe main ."
    "footer footer footer footer footer";

    .banner {
        grid-area: banner;
        margin-bottom: 5em;
    
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    .pipe {
        grid-area: pipe;
        @include pipe;
    }

    .line {
        grid-area: line;
        @include line;
    }
}